global
    log stdout format raw local0
    maxconn 1024

defaults
    log global
    mode tcp
    timeout connect 5s
    timeout client 1m
    timeout server 1m

listen stats
    bind *:7000
    mode http
    stats enable
    stats uri /
    stats refresh 5s

listen postgres-primary
    bind *:5433
    mode tcp
    option httpchk GET /primary
    http-check expect status 200
    default-server init-addr libc,none inter 2s fall 3 rise 2 on-marked-down shutdown-sessions
    server pg1 pg1:5432 check port 8008
    server pg2 pg2:5432 check port 8008
